Repository tj-developers/jgrapht, pull requests merged in 2018-05, with the labels that each got.

#21 Fix bugs in the interval graph detection algorithm
  jgrapht-core/src/main/java/org/jgrapht/alg/intervalgraph/IntervalGraphRecognizer.java
  jgrapht-core/src/main/java/org/jgrapht/alg/intervalgraph/LexBreadthFirstSearch.java
  jgrapht-core/src/main/java/org/jgrapht/traverse/LexBreadthFirstIterator.java
  jgrapht-core/src/test/java/org/jgrapht/intervalgraph/interval/IntervalGraphRecognizerTest.java
Labels: bug, interval graphs

#23 Tests for IntervalGraph
  jgrapht-core/src/test/java/org/jgrapht/intervalgraph/IntervalGraphTest.java
Labels: interval graphs

#24 Implement the required interface to build an interval graph
  jgrapht-core/src/main/java/org/jgrapht/alg/intervalgraph/IntervalGraphRecognizer.java
Labels: interval graphs

#19 refreshed redblackintervaltree integration, finished graph creation
  jgrapht-core/src/main/java/org/jgrapht/graph/specifics/IntervalSpecifics.java
  jgrapht-core/src/main/java/org/jgrapht/intervalgraph/BinarySearchTree.java
  jgrapht-core/src/main/java/org/jgrapht/intervalgraph/IntervalGraph.java
  jgrapht-core/src/main/java/org/jgrapht/intervalgraph/IntervalGraphVertexContainer.java
  jgrapht-core/src/main/java/org/jgrapht/intervalgraph/IntervalTreeInterface.java
  jgrapht-core/src/main/java/org/jgrapht/intervalgraph/IntervalTreeNodeKey.java
  jgrapht-core/src/main/java/org/jgrapht/intervalgraph/IntervalTreeNodeValue.java
  jgrapht-core/src/main/java/org/jgrapht/intervalgraph/IntervalTreeStructure.java
  jgrapht-core/src/main/java/org/jgrapht/intervalgraph/RedBlackIntervalComparatorTree.java
  jgrapht-core/src/main/java/org/jgrapht/intervalgraph/RedBlackIntervalTree.java
  jgrapht-core/src/main/java/org/jgrapht/intervalgraph/RedBlackTree.java
  jgrapht-core/src/test/java/org/jgrapht/intervalgraph/RedBlackIntervalTreeStructureTest.java
  jgrapht-core/src/test/java/org/jgrapht/intervalgraph/RedBlackTreeTest.java
Labels: interval graphs

#26 Remove old comments and compilation and style violations
  jgrapht-core/src/main/java/org/jgrapht/alg/intervalgraph/IntervalGraphRecognizer.java
  jgrapht-core/src/main/java/org/jgrapht/alg/intervalgraph/LexBreadthFirstSearch.java
  jgrapht-core/src/main/java/org/jgrapht/graph/specifics/IntervalSpecifics.java
  jgrapht-core/src/main/java/org/jgrapht/intervalgraph/BinarySearchTree.java
  jgrapht-core/src/main/java/org/jgrapht/intervalgraph/CenteredIntervalTree.java
  jgrapht-core/src/main/java/org/jgrapht/intervalgraph/IntervalGraph.java
  jgrapht-core/src/main/java/org/jgrapht/intervalgraph/IntervalGraphInterface.java
  jgrapht-core/src/main/java/org/jgrapht/intervalgraph/IntervalGraphVertexContainer.java
  jgrapht-core/src/main/java/org/jgrapht/intervalgraph/IntervalGraphVertexContainerInterface.java
  jgrapht-core/src/main/java/org/jgrapht/intervalgraph/IntervalStructureInterface.java
  jgrapht-core/src/main/java/org/jgrapht/intervalgraph/IntervalTreeInterface.java
  jgrapht-core/src/main/java/org/jgrapht/intervalgraph/IntervalTreeNodeKey.java
  jgrapht-core/src/main/java/org/jgrapht/intervalgraph/IntervalTreeNodeValue.java
  jgrapht-core/src/main/java/org/jgrapht/intervalgraph/IntervalTreeStructure.java
  jgrapht-core/src/main/java/org/jgrapht/intervalgraph/RBNode.java
  jgrapht-core/src/main/java/org/jgrapht/intervalgraph/RedBlackComparatorTree.java
  jgrapht-core/src/main/java/org/jgrapht/intervalgraph/RedBlackIntervalComparatorTree.java
  jgrapht-core/src/main/java/org/jgrapht/intervalgraph/RedBlackIntervalTree.java
  jgrapht-core/src/main/java/org/jgrapht/intervalgraph/RedBlackTree.java
  jgrapht-core/src/main/java/org/jgrapht/intervalgraph/interval/IntegerInterval.java
  jgrapht-core/src/main/java/org/jgrapht/intervalgraph/interval/Interval.java
  jgrapht-core/src/main/java/org/jgrapht/intervalgraph/interval/package-info.java
  jgrapht-core/src/main/java/org/jgrapht/intervalgraph/package-info.java
  jgrapht-core/src/main/java/org/jgrapht/traverse/LexBreadthFirstIterator.java
  jgrapht-core/src/test/java/org/jgrapht/intervalgraph/CenteredIntervalTreeStructureTest.java
  jgrapht-core/src/test/java/org/jgrapht/intervalgraph/CenteredIntervalTreeTest.java
  jgrapht-core/src/test/java/org/jgrapht/intervalgraph/IntervalGraphTest.java
  jgrapht-core/src/test/java/org/jgrapht/intervalgraph/IntervalTreeStructureTest.java
  jgrapht-core/src/test/java/org/jgrapht/intervalgraph/RedBlackComparatorTreeTest.java
  jgrapht-core/src/test/java/org/jgrapht/intervalgraph/RedBlackIntervalComparatorTreeTest.java
  jgrapht-core/src/test/java/org/jgrapht/intervalgraph/RedBlackIntervalTreeStructureTest.java
  jgrapht-core/src/test/java/org/jgrapht/intervalgraph/interval/IntervalGraphRecognizerTest.java
Labels: bug, enhancement

#25 Interval graphs tests
  jgrapht-core/src/main/java/org/jgrapht/GraphTests.java
Labels: interval graphs

#30 Tests for IntervalGraph
  jgrapht-core/src/test/java/org/jgrapht/graph/IntervalGraphTest.java
Labels: interval graphs
